RewriteEngine On
RewriteBase /
# wp links
# legacy wp links.
RewriteRule 2008/04/stand-alone-activerecord-migrations/ http://lstoll.net/2008/04/07/stand-alone-active-record-migrations.html [R=301,L]
RewriteRule 2007/05/vmware-server-console-invalid-usernamepassword-on-opensuse-102-x64/ http://lstoll.net/2007/05/12/vmware-server-colsole-invalid-username-and-password-on-opensuse-10-2-x64.html [R=301,L]
RewriteRule 2007/10/installing-mysql-gem-on-leopard-with-macports-mysql/ http://lstoll.net/2007/10/30/installing-mysql-gem-on-leopard-with-macports-mysql.html [R=301,L]
RewriteRule 2008/04/passenger-aka-mod_rails/ http://lstoll.net/2008/04/12/passenger-aka-mod-rails.html [R=301,L]
RewriteRule 2008/04/shell-meme/ http://lstoll.net/2008/04/18/shell-meme.html [R=301,L]
RewriteRule 2007/10/telnet-to-ssl-service/ http://follow.lstoll.net/post/70866657/telnet-to-ssl-service  [R=301,L]
RewriteRule 2007/08/locale-errors-on-ubuntu/ http://lstoll.net/2007/08/07/locale-errors-on-ubuntu.html [R=301,L]
# more legacy wp links - didin't copy post over.
RewriteRule 2008/07/a-brief-update/ http://lstoll.net/ [R=301,L]
RewriteRule 2008/04/information-management-pt-1/ http://lstoll.net/ [R=301,L]
RewriteRule 2008/04/ec2-persistent-storage/ http://lstoll.net/ [R=301,L]
RewriteRule 2008/04/quick-guide-to-making-an-iphone-work-in-australia-114/ http://lstoll.net/ [R=301,L]
RewriteRule 2008/01/sslhttps-support-error-with-macports-mercurial-10/ http://lstoll.net/ [R=301,L]
RewriteRule 2008/03/postgres-plus-83-ruby/ http://lstoll.net/ [R=301,L]
RewriteRule 2007/11/installing-mercurial-on-ubuntu-704/ http://lstoll.net/ [R=301,L]
RewriteRule 2007/05/anti-spam-and-anti-virus-for-domino-the-free-way/ http://lstoll.net/ [R=301,L]
RewriteRule 2007/05/domino-anti-spam-and-av-setup-with-assp-part-1-getting-it-going/ http://lstoll.net/ [R=301,L]
RewriteRule 2007/03/remotely-installing-domino-7-for-linux-on-opensuse-102/ http://lstoll.net/ [R=301,L]
# legacy enki links.
RewriteRule 2008/04/01/hghub http://lstoll.net/2008/07/a-brief-update/ [R=301,L]
#RewriteRule 2008/04/18/shell-meme http://lstoll.net/2008/04/shell-meme/ [R=301,L]
RewriteRule 2008/04/16/information-management-pt-1 http://lstoll.net/2008/04/information-management-pt-1/ [R=301,L]
RewriteRule 2008/04/16/ec2-persistent-storage http://lstoll.net/2008/04/ec2-persistent-storage/ [R=301,L]
RewriteRule 2008/04/16/quick-guide-to-making-an-iphone-work-in-australia-1-1-4 http://lstoll.net/2008/04/quick-guide-to-making-an-iphone-work-in-australia-114/ [R=301,L]
RewriteRule 2008/04/12/passenger-a-k-a-mod-rails http://lstoll.net/2008/04/passenger-aka-mod_rails/ [R=301,L]
RewriteRule 2008/04/07/stand-alone-activerecord-migrations http://lstoll.net/2008/04/stand-alone-activerecord-migrations/ [R=301,L]
RewriteRule 2008/04/06/ssl-https-support-error-with-macports-mercurial-1-0 http://lstoll.net/2008/01/sslhttps-support-error-with-macports-mercurial-10/ [R=301,L]
RewriteRule 2008/03/26/postres-plus-8-3-ruby http://lstoll.net/2008/03/postgres-plus-83-ruby/ [R=301,L]
RewriteRule 2007/11/28/installing-mercurial-on-ubuntu-7-04 http://lstoll.net/2007/11/installing-mercurial-on-ubuntu-704/ [R=301,L]
#RewriteRule 2007/10/30/installing-mysql-gem-on-leopard-with-macports-mysql http://lstoll.net/2007/10/installing-mysql-gem-on-leopard-with-macports-mysql/ [R=301,L]
RewriteRule 2007/10/10/telnet-to-ssl-service http://lstoll.net/2007/10/telnet-to-ssl-service/  [R=301,L]
#RewriteRule 2007/08/07/locale-errors-on-ubuntu http://lstoll.net/2007/08/locale-errors-on-ubuntu/ [R=301,L]
RewriteRule 2007/05/10/anti-spam-and-anti-virus-for-domino-the-free-way http://staging.lstoll.net/2007/05/anti-spam-and-anti-virus-for-domino-the-free-way/ [R=301,L]
RewriteRule 2007/05/12/vmware-server-console-invalid-username-password-on-opensuse-10-2-x64 http://lstoll.net/2007/05/vmware-server-console-invalid-usernamepassword-on-opensuse-102-x64/ [R=301,L]
RewriteRule 2007/05/10/domino-anti-spam-and-av-setup-with-assp-part-1-getting-it-going http://lstoll.net/2007/05/domino-anti-spam-and-av-setup-with-assp-part-1-getting-it-going/ [R=301,L]
RewriteRule 2007/03/07/remotely-installing-domino-7-for-linux-on-opensuse-10-2 http://lstoll.net/2007/03/remotely-installing-domino-7-for-linux-on-opensuse-102/ [R=301,L]
## TODO - include category and archive and etc.
RewriteRule archives http://lstoll.net/ [R=301,L]
RewriteRule domino http://lstoll.net/ [R=301,L]
RewriteRule linux http://lstoll.net/ [R=301,L]
RewriteRule hghub http://lstoll.net/2008/07/a-brief-update/ [R=301,L]
RewriteRule merb http://lstoll.net/ [R=301,L]
RewriteRule iphone http://lstoll.net/ [R=301,L]
RewriteRule mercurial http://lstoll.net/ [R=301,L]
RewriteRule deployment http://lstoll.net/ [R=301,L]
